#pxTable {
	width: 100%;
}
table.dataTable.select tbody tr, table.dataTable thead th:first-child {
	cursor: pointer;
	width: 1%;
}
table.dataTable tbody tr, table.dataTable thead th {
	cursor: pointer;
	white-space: nowrap;
}