<nav class="sidebar (light)">
    <ul>
        <li>
            <a href="#">
                <i class="icon-home"></i> Nome do usuário
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-cog" /> Configurações
            </a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li>
                    <a ng-click="logout()">
                        Sair
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
