<div class="px-view" ng-controller="exemploCtrl">
    <!-- Directive px-view-header, apresenta o cabeçalho da view atual -->
    <div px-fixed px-wrapper=".px-view" px-hfixed="true" px-vfixed="true" class="px-header">
        <px-view-header px-show-hr="true"></px-view-header>
    </div>
    <div px-fixed px-wrapper=".px-view" px-hfixed="true">
        <div id="headerSearch" class="headerSearch" layout="row" layout-align="center center" ng-click="showFilter()"><span>FILTRO AVANÇADO</span><i class="material-icons" ng-show="filterExpand">expand_less</i><i class="material-icons" ng-show="!filterExpand">expand_more</i>
        </div>
        <div class="contentSearch" layout="row" layout-wrap>
            <div layout="row" layout-wrap layout-padding flex="100">
                <div flex="25">
                    <label>Auto-complete (Nome)</label>
                    <px-complete id="filtroComplete" ng-model="filtroComplete" px-input-class="form-control" placeholder="  Pesquisar nome" px-enter="getData()" px-table="dbo.vw_exemplo" px-fields="{{filtroCompleteConfig.fields}}"></px-complete>
                </div>
                <div flex="10">
                    <label>ID</label>
                    <input id="filtroId" ng-model="filtroId" class="form-control" px-enter="getData()" px-valid-number>
                </div>
                <div flex="15">
                    <label>Status</label>
                    <select id="filtroStatus" ng-model="filtroStatus" class="form-control" px-enter="getData()" ng-options="option.name for option in dataStatus.optionsAll track by option.id"></select>
                </div>
                <div flex="25">
                    <label>Nome</label>
                    <input id="filtroNome" ng-model="filtroNome" class="form-control" px-enter="getData()">
                </div>
                <div flex="15">
                    <label>CPF</label>
                    <input id="filtroCPF" ng-model="filtroCPF" class="form-control" px-enter="getData()" px-br-cpf-mask>
                </div>
                <div flex="15">
                    <label>Telefone</label>
                    <input id="filtroTelefone" ng-model="filtroTelefone" class="form-control" px-enter="getData()" px-br-phone-mask>
                </div>
                <div flex="20">
                    <label>Valor</label>
                    <div class="input-group">
                        <span class="input-group-addon">R$</span>
                        <input id="filtroValor" ng-model="filtroValor" class="form-control" px-enter="getData()" px-number-mask>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div px-fixed px-wrapper=".px-view" px-hfixed="true" layout="row" layout-align="end center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="add()">
                    <span class="fa fa-plus"></span> Adicionar
                </button>
                <button type="button" class="btn btn-default" ng-click="remove()">
                    <span class="fa fa-remove"></span> Remover
                </button>
                <button type="button" class="btn btn-default" ng-click="getData()">
                    <span ng-class="gridControl.working | refreshDataGrid"></span> Atualizar
                </button>
            </div>
        </div>
        <px-data-grid control="gridControl" px-debug="false" px-init="gridInit(this)" px-table="dbo.vw_exemplo" px-fields="{{gridConfig.fields}}" px-order-by="exe_id" px-data-init="true">
        </px-data-grid>
        <px-form></px-form>
    </div>
</div>
