<md-dialog ng-cloak flex="50" aria-label="Formulário" ng-init="formShow = 'default'">
    <px-form px-debug="true" px-control="formControl" px-init="formInit()" px-callback="formCallback(event)" px-config="{{formConfig}}" px-callback="formCallback(event)"></px-form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{formTitle}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="formCancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="form" ng-show="formShow === 'default'">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                    <div flex="50" flex-sm="100">
                        <label>
                            <input id="exe_checkbox" ng-model="exe_checkbox" type="checkbox"> Checkbox (Bit)</label>
                        <label>
                    </div>
                    <div flex="50" flex-sm="100">
                        <label>
                            <input id="exe_checkbox_char" ng-model="exe_checkbox_char" type="checkbox"> Checkbox (Char)</label>
                        <label>
                    </div>
                    <div class="form-group" flex="50" flex-sm="100">
                        <!-- show-errors -->
                        <label for="exe_nome">Nome</label>
                        <input id="exe_nome" name="exe_nome" ng-model="exe_nome" class="form-control" required>
                        <px-show-error px-element="exe_nome"></px-show-error>
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="exe_cpf">CPF</label>
                        <input id="exe_cpf" name="exe_cpf" ng-model="exe_cpf" class="form-control" px-br-cpf-mask required>
                        <px-show-error px-element="exe_cpf"></px-show-error>
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="exe_cep">CEP</label>
                        <input id="exe_cep" name="exe_cep" ng-model="exe_cep" class="form-control" px-br-cep-mask required>
                        <px-show-error px-element="exe_cep"></px-show-error>
                    </div>
                    <div flex="100" flex-sm="100">
                        <label for="exe2_id">Input Search</label>
                        <px-input-search id="exe2_id" name="exe2_id" ng-model="exe2_id" px-input-class="form-control" placeholder="Pesquisar categoria" px-control="exe2_id_searchControl" px-complete="true" px-config="{{exe2_id_searchConfig}}" px-dialog="true" px-search-click="exe2_id_searchClick(event)"></px-input-search>
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="exe_senha">Senha</label>
                        <input id="exe_senha" name="exe_senha" ng-model="exe_senha" class="form-control" type="password" required>
                        <px-show-error px-element="exe_senha"></px-show-error>
                    </div>
                    <div flex="50" flex-sm="100">
                        <label for="exe_senha_confirmar">Confirmar Senha</label>
                        <input id="exe_senha_confirmar" name="exe_senha_confirmar" ng-model="exe_senha_confirmar" class="form-control" type="password" required>
                        <px-show-error px-element="exe_senha_confirmar" px-confirm="exe_senha" px-confirm-error="Senha não confere"></px-show-error>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="formCancel()">
                    <span class="fa fa-remove"></span> <span hide-sm>Cancelar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formInsert(form)" ng-disabled="form.$invalid === true" ng-show="formAction === 'insert'">
                    <span class="fa fa-plus"></span> <span hide-sm>Adicionar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formUpdate(form)" ng-show="formAction === 'update'" ng-disabled="form.$invalid">
                    <span class="fa fa-pencil"></span> <span hide-sm>Salvar</span>
                </button>
            </div>
        </div>
    </form>
    <md-dialog-content ng-show="formShow === 'exemplo2'">
        <div class="md-dialog-content">
            <div px-fixed px-wrapper=".px-view" px-hfixed="true">
                <div id="headerSearch" layout="row" layout-align="center center" ng-click="showFilter()"><span>FILTRO AVANÇADO</span><i class="material-icons" ng-show="filterExpand">expand_less</i><i class="material-icons" ng-show="!filterExpand">expand_more</i>
                </div>
                <div class="contentSearch" layout="row" layout-wrap>
                    <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                        <div flex="50" flex-sm="100">
                            <label for="filtroCategoria">Nome</label>
                            <input id="filtroCategoria" name="filtroCategoria" ng-model="filtroCategoria" class="form-control" px-enter="getDataExemplo2()">
                        </div>
                    </div>
                </div>
            </div>
            <div px-fixed px-wrapper=".px-view" px-hfixed="true" layout="row" layout-align="end center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="getDataExemplo2()">
                        <span ng-class="dgExemploControl.working | dataGridRefresh"></span> <span hide-sm>Atualizar</span>
                    </button>
                </div>
            </div>
            <px-data-grid id="dgExemplo2" px-debug="true" px-control="dgExemplo2Control" px-init="dgExemplo2Init()" px-config="{{dgExemplo2Config}}" px-order-by="exe2_categoria" px-data-init="true" px-check="false" px-edit="false" px-item-click="dgExemplo2ItemClick(event)">
            </px-data-grid>
        </div>
    </md-dialog-content>
</md-dialog>
