<md-dialog ng-cloak flex="50" aria-label="Formulário" ng-init="formShow = 'default'">
    <px-form px-debug="true" px-control="formControl" px-init="formInit()" px-config="{{formConfig}}" px-callback="formCallback(event)"></px-form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{formTitle}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="formCancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="form" ng-show="formShow === 'default'">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                    <div flex="100" flex-sm="100">
                        <label>Login</label>
                        <input id="usu_login" name="usu_login" ng-model="usu_login" class="form-control" required>
                        <px-message px-element="form.usu_login" />
                    </div>
                    <div flex="70" flex-sm="100">
                        <label>Nome</label>
                        <input id="usu_nome" name="usu_nome" ng-model="usu_nome" class="form-control" required>
                        <px-message px-element="form.usu_nome" />
                    </div>
                    <div flex="30" flex-sm="100">
                        <label>CPF</label>
                        <input id="usu_cpf" name="usu_cpf" ng-model="usu_cpf" class="form-control" px-br-cpf-mask required>
                        <px-message px-element="form.usu_cpf" />
                    </div>
                    <div flex="100" flex-sm="100">
                        <label>e-mail</label>
                        <input id="usu_email" name="usu_email" name="usu_email" ng-model="usu_email" class="form-control" type="email" required>
                        <px-message px-element="form.usu_email" />
                    </div>
                    <div flex="100" flex-sm="100">
                        <label for="per_id">Perfil</label>
                        <px-input-search id="per_id" name="per_id" ng-model="per_id" px-input-class="form-control" placeholder="Pesquisar perfil" px-control="per_id_searchControl" px-complete="true" px-config="{{per_id_searchConfig}}" px-dialog="true" px-search-click="per_id_searchClick(event)"></px-input-search>
                    </div>
                    <div flex="100" flex-sm="100">
                        <label for="grupo_id">Grupo</label>
                        <px-input-search id="grupo_id" name="grupo_id" ng-model="grupo_id" px-input-class="form-control" placeholder="Pesquisar grupo" px-control="grupo_searchControl" px-complete="false" px-config="{{grupo_searchConfig}}" px-dialog="false" px-search-click="grupo_searchClick(event)" ng-disabled="true"></px-input-search>
                    </div>
                    <div flex="33" flex-sm="100">
                        <label>Status</label>
                        <select id="usu_ativo" name="usu_ativo" ng-model="usu_ativo" class="form-control" ng-options="option.name for option in dataStatus.arrayStatus track by option.id"></select>
                    </div>
                    <div flex="33" flex-sm="100">
                        <label>Senha expira (dias)</label>
                        <input id="usu_senhaExpira" name="usu_senhaExpira" ng-model="usu_senhaExpira" class="form-control" px-valid-number required>
                        <px-message px-element="form.usu_senhaExpira" />
                    </div>
                    <div flex="33" flex-sm="100">
                        <label>Tentativas de login</label>
                        <input id="usu_tentativasLogin" name="usu_tentativasLogin" ng-model="usu_tentativasLogin" class="form-control" px-valid-number required>
                        <px-message px-element="form.usu_tentativasLogin" />
                    </div>
                    <div flex="33" flex-sm="100">
                        <label for="usu_senha">Senha</label>
                        <input id="usu_senha" name="usu_senha" ng-model="usu_senha" class="form-control" type="password" required ng-disabled="disabledSenha" ng-minlength="6">
                        <px-message px-element="form.usu_senha" px-minlength-error="A senha deve ter no mínimo 8 caracteres" />
                    </div>
                    <div flex="33" flex-sm="100">
                        <label for="usu_senha_confirmar">Confirmar Senha</label>
                        <div ng-class="{ 'input-group': formAction === 'update'}">
                            <input id="usu_senha_confirmar" name="usu_senha_confirmar" ng-model="usu_senha_confirmar" class="form-control" ng-disabled="disabledSenha" type="password">
                            <span class="input-group-btn" ng-if="formAction === 'update'">
                                <button class="btn btn-default" type="button" ng-click="redefinirSenha()"> 
                                    <span class="fa fa-unlock"></span> Redefinir
                            </button>
                            </span>
                        </div>
                        <px-message px-element="form.usu_senha_confirmar" px-confirm="usu_senha" px-confirm-error="Senha não confere" />
                    </div>
                    <div flex="33" flex-sm="100" layout="row" layout-align="start center">
                        <label>
                            <input id="usu_mudarSenha" name="usu_mudarSenha" ng-model="usu_mudarSenha" type="checkbox"> Mudar senha no próximo login</label>
                        <label>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <hr class="px1">
        <div class="md-actions" layout="row">
            <span flex></span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="formCancel()">
                    <span class="fa fa-remove"></span> <span hide-sm>Cancelar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formInsert(form)" ng-disabled="form.$invalid" ng-show="formAction === 'insert'">
                    <span class="fa fa-plus"></span> <span hide-sm>Adicionar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formUpdate(form)" ng-show="formAction === 'update'" ng-disabled="form.$invalid">
                    <span class="fa fa-pencil"></span> <span hide-sm>Salvar</span>
                </button>
            </div>
        </div>
    </form>
    <md-dialog-content ng-show="formShow === 'perfil'">
        <div class="md-dialog-content">
            <div px-fixed px-wrapper=".px-view" px-hfixed="true">
                <div id="headerSearch" layout="row" layout-align="center center" ng-click="showFilter()"><span>FILTRO AVANÇADO</span><i class="material-icons" ng-show="filterExpand">expand_less</i><i class="material-icons" ng-show="!filterExpand">expand_more</i>
                </div>
                <div class="contentSearch" layout="row" layout-wrap>
                    <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                        <div flex="10" flex-sm="100">
                            <label for="filtro_per_id">Código</label>
                            <input id="filtro_per_id" name="filtro_per_id" ng-model="filtro_per_id" class="form-control" px-enter="getData()" px-valid-number>
                        </div>
                        <div flex="25" flex-sm="100">
                            <label for="filtro_per_nome">Nome</label>
                            <input id="filtro_per_nome" name="filtro_per_nome" ng-model="filtro_per_nome" class="form-control" px-enter="getData()">
                        </div>
                        <div flex="15" flex-sm="100">
                            <label>Status</label>
                            <select id="filtro_per_ativo" name="filtro_per_ativo" ng-model="filtro_per_ativo" class="form-control" px-enter="getData()" ng-options="option.name for option in dataStatus.arrayStatusAll track by option.id"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div px-fixed px-wrapper=".px-view" px-hfixed="true" layout="row" layout-align="end center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="getDataPerfil()">
                        <span ng-class="dgExemploControl.working | dataGridRefresh"></span> <span hide-sm>Atualizar</span>
                    </button>
                </div>
            </div>
            <px-data-grid id="dgPerfil" px-debug="true" px-control="dgPerfilControl" px-init="dgPerfilInit()" px-table="dbo.vw_perfil" px-config="{{dgPerfilConfig}}" px-order-by="per_nome" px-data-init="true" px-check="false" px-edit="false" px-item-click="dgPerfilItemClick(event)">
            </px-data-grid>
        </div>
    </md-dialog-content>
    <md-dialog-content ng-show="formShow === 'grupo'">
        <px-group-search px-item-click="grupo_id_itemClick(event)"></px-group-search>
    </md-dialog-content>
</md-dialog>
