.pxComplete-holder {
	position: relative;
}
.pxComplete-dropdown {
	border-color: #ececec;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	width: 250px;
	padding: 6px;
	cursor: pointer;
	z-index: 9999;
	position: absolute;    
	margin-top: -6px;
	background-color: #ffffff;
}
.pxComplete-searching {
	color: #acacac;
	font-size: 14px;
}
.pxComplete-title {
	color: black;
	font-size: 13px;
}
.pxComplete-description {
	color: grey;
	font-size: 12px;
}
.pxComplete-row {
	padding: 5px;
	color: #000000;
	margin-bottom: 4px;
}
.pxComplete-selected-row, .pxComplete-row:hover {
	background-color: lightblue;
	color: #ffffff;
}
.px-show-error{
	color: #A94442;
}