<md-menu-bar>
{{navBar}}
<md-button>teste</md-button>
<div ng-bind-html="<md-button>teste</md-button>"></div>

    <md-menu>
        <button ng-click="$mdOpenMenu()">
            File
        </button>
        <md-menu-content>
            <md-menu-item>
                <md-button >
                    Share...
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">New</md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">New</md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="c">Document</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="">Spreadsheet</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="">Presentation</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="">Form</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="">Drawing</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-item>
            <md-menu-item>
                <md-button>	
                    Open...
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button disabled="disabled">
                    Rename
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button>
                    Print
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <!--
	<div id="menuDiv" class="app-bar darcula px-fit" ng-controller="pxNavBarCtrl" content="navBar">
</div>
-->
</md-menu-bar>
