<md-dialog ng-cloak flex="50" aria-label="Formulário" ng-init="formShow = 'default'">
    <px-form id="formPerfil" px-debug="true" px-control="formControl" px-init="formInit()" px-config="{{formConfig}}" px-callback="formCallback(event)"></px-form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{formTitle}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="formCancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="form" ng-show="formShow === 'default'">
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-sm="column" layout-wrap layout-padding flex="100">
                    <div flex="100" flex-sm="100" px-group-show="grupo_id">
                        <label for="grupo">Grupo</label>
                        <px-input-search id="grupo_id" name="grupo" ng-model="grupo" px-input-class="form-control" placeholder="Pesquisar grupo" px-control="grupo_id_searchControl" px-complete="true" px-config="{{grupo_id_searchConfig}}" px-dialog="true" px-search-click="grupo_id_searchClick(event)" required></px-input-search>
                        <px-show-error px-element="grupo_id"></px-show-error>
                    </div>
                    <div flex="25" flex-sm="100">
                        <label>Status</label>
                        <select id="per_ativo" name="per_ativo" ng-model="per_ativo" class="form-control" ng-options="option.name for option in dataStatus.arrayStatus track by option.id" required></select>
                        <px-show-error px-element="per_ativo"></px-show-error>
                    </div>
                    <div flex="75" flex-sm="100">
                        <label for="per_nome">Nome</label>
                        <input id="per_nome" name="per_nome" ng-model="per_nome" class="form-control" required>
                        <px-show-error px-element="per_nome"></px-show-error>
                    </div>
                    <div flex="50" flex-sm="100" layout="row" layout-align="start center">
                        <label>
                            <input id="per_master" name="per_master" ng-model="per_master" type="checkbox"> Perfil Master</label>
                        <label>
                    </div>
                    <div flex="50" flex-sm="100" layout="row" layout-align="start center">
                        <label>
                            <input id="per_resetarSenha" name="per_resetarSenha" ng-model="per_resetarSenha" type="checkbox"> Permissão para redefinir senha</label>
                        <label>
                    </div>
                </div>
                <div>
                    <hr class="px1">
                    <div flex="100" layout="row">
                        <div>
                            <h4>Permissão de acesso aos menus:</h4></div>
                    </div>
                    <div id="jstree"></div>
                </div>
            </div>
        </md-dialog-content>
        <hr class="px1">
        <div class="md-actions" layout="row">
            <span flex></span>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="formCancel()">
                    <span class="fa fa-remove"></span> <span hide-sm>Cancelar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formInsert(form)" ng-disabled="form.$invalid" ng-show="formAction === 'insert'">
                    <span class="fa fa-plus"></span> <span hide-sm>Adicionar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="formUpdate(form)" ng-show="formAction === 'update'" ng-disabled="form.$invalid">
                    <span class="fa fa-pencil"></span> <span hide-sm>Salvar</span>
                </button>
            </div>
        </div>
    </form>
    <md-dialog-content ng-show="formShow === 'grupo'">
        <px-group-search px-item-click="grupo_id_itemClick(event)"></px-group-search>
    </md-dialog-content>
</md-dialog>
