.pxGridSearch {
	border: 1px solid #eee;
	margin-bottom: 10px;
	margin-left: -10px;
}
.pxGridSearch div {
	width: 100%;
}
.pxGridSearch .headerSearch {
	background-color: #E3E3E3;
	cursor: pointer;
	text-align: center;
}