.loading {
	display: none;
}
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	background: url('system/assets/wallpaper/px-example-q70.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000000;
}
px-nav-bar md-menu-bar button {
	color: #FFFFFF;
	font-size: 17px;
}
px-nav-bar md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
	color: #000000;
}
md-menu-content.md-menu-bar-menu.md-dense .md-button span {
	font-size: 17px;
}
div.page-view {
	position: absolute;
	background-color: #FFFFFF;
	bottom: 0px;
	top: 45px;
	right: 1px;
	width: 100%;
	margin-top: 15px;
	padding: 0px 80px 0px 80px;
	overflow: auto;
	color: #666;
	overflow-y: auto;
}
div.page-view .view {
	height: 100%;
	box-shadow: 0 0 0 1px rgba(187, 187, 187, 0.1), 0 0px 12px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
	padding: 5px;
}
div .filter {
	cursor: pointer;
}
hr.px1 {
	border: 0;
	height: 1px;
	background: #bbb;
	background-image: -webkit-linear-gradient(left, #eee, #bbb, #eee);
	background-image: -o-linear-gradient(left, #eee, #bbb, #eee);
	margin-top: 1px;
	margin-bottom: 2px;
}
.ng-invalid {
	border-color: #A94442;
	border-width: 1px;
}