/* Estilos customizados */
body {
	background: url('system/assets/wallpaper/px-example-q70.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000000;
}