body {
	background: url('system/assets/wallpaper/px-example-q70.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000000;
}
px-nav-bar md-menu-bar button {
	font-size: 17px;
}
md-menu-content.md-menu-bar-menu.md-dense .md-button span {
	font-size: 17px;
}
.home-title {
	/*position: fixed;*/
}
.page {
	max-height: 100%;
	box-shadow: 0 0 0 1px rgba(187, 187, 187, 0.1), 0 0px 12px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
}